<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<!--  <suite name="HueTestSuite" thread-count="9" parallel="methods"> 
<test name="testOne">
<classes>
<class name="HueTester"></class>
</classes>
</test>
</suite>-->

<!--<suite name="parameterization" >
<parameter name="author" value="kiran"></parameter>
<parameter name="search" value="test"></parameter>
<parameter name="name" value="appa"></parameter>
	<test name="testOne">
	
		<classes>
			<class name="com.testing.roadToAutomation.ParameterizationTest"></class>
			<class name="com.testing.roadToAutomation.ParameterizationTestTwo"></class>
		</classes>
	</test>
	<test name="testTwo">
		<parameter name="outsidename" value="outsidevalue"></parameter>
		<classes>
			<class name="com.testing.roadToAutomation.OutsideParameterizationTest"></class>
		</classes>
	</test>
	
</suite>-->

<!--<suite name="testSuite">
	<test name="testNonGroupWithinGroup">
		<classes>
			<class name="com.testing.roadToAutomation.TestNGTestGroup"></class>
		</classes>
	</test>
	<test name="groupTest">
	<groups>
		<run>
			<include name="functionalTest"></include>
			<exclude name="sanityTest"></exclude>
		</run>
	</groups>
	
		<classes>
			<class name="com.testing.roadToAutomation.TestNGTestGroup"></class>
		</classes>
	</test>	
</suite>-->

<!--<suite name="testSuite">
	<test name="groupTest">
		<groups>
			<define name="all">
				<include name="testTwo"></include>
			</define>	
			<run>
				<include name="all"></include>
			</run>
		</groups>
			
		<classes>
			<class name="com.testing.roadToAutomation.DataProviderTest"></class>
		</classes>
	</test>	
</suite>-->

<!--  <suite name="TestSuite" parallel="tests" thread-count="9">
	<test name="testChro">
		<parameter name="browser" value="chro"></parameter>
		<classes>
			<class name="com.testing.roadToAutomation.SelenGrid"></class>
		</classes>
	</test>

	<test name="testFF">
		<parameter name="browser" value="FF"></parameter>
	<classes>
<class name="com.testing.roadToAutomation.SelenGrid">

</class>

</classes>
</test>

<test name="testIE">
<parameter name="browser" value="IE"></parameter>
<classes>
<class name="com.testing.roadToAutomation.SelenGrid">

</class>
</classes>
</test>
</suite>-->

<!--  <suite name="testGroups">
  <listeners>
    <listener class-name="com.testing.again.CustomReporter" />
  </listeners>-->
	<!--  <groups>
		<run>
		<include name="functtest"/>
		</run>
	</groups>-->
	<!--  <test name="test1">
		<classes>
			<class name="com.testing.again.TestTestNG"></class>
		</classes>
	</test>
</suite>-->


<suite name="TestSuite" parallel="tests" thread-count="4">
	<test name="testFF">
		<parameter name="platform" value="Linux" />
		<parameter name="browser" value="Firefox" />
		<parameter name="url" value="http://dl.dropbox.com/u/55228056/bmicalculator.html"/>
		<classes>
			<class name="seleniumcookbook.examples.test.SeGridTest"></class>
		</classes>
	</test>
<<test name="testIE">
<!--		<parameter name="browser" value="IE"></parameter>-->
		<parameter name="platform"  value="Windows" />
		<parameter name="browser" value="Internet Explorer" />
		<parameter name="url" value="http://dl.dropbox.com/u/55228056/bmicalculator.html"/>
                <classes>
                        <class name="seleniumcookbook.examples.test.SeGridTest"></class>
                </classes>
	</test>
</suite>
