<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<!--<suite name="testsuite">-->
<suite name="testsuite" parallel="tests" thread-count="4">
	<listeners>
		<listener class-name="com.kriyari.selenium.testing.TestNGCustomListenerForScreenShots" />
	</listeners>
	
<!--	<test name="test">
		<classes>
			<class name="com.kriyari.selenium.testing.TestScreenShot"/>
		</classes>
	</test>-->

<!--        <test name="testFF">
           <parameter name="platform" value="Linux" />
                <parameter name="browser" value="Firefox" />
                <parameter name="url" value="http://dl.dropbox.com/u/55228056/bmicalculator.html"/>
                <classes>
                        <class name="com.kriyari.selenium.testing.SeGridTest"></class>
                </classes>
        </test>-->

<!--<test name="testFF">
           <parameter name="platform" value="Windows" />
                <parameter name="browser" value="Firefox" />
                <parameter name="url" value="http://dl.dropbox.com/u/55228056/bmicalculator.html"/>
                <classes>
                        <class name="com.kriyari.selenium.testing.SeGridTest"></class>
                </classes>
        </test>-->

<!--<test name="testIE">
           <parameter name="platform" value="Windows" />
                <parameter name="browser" value="Internet Explorer" />
                <parameter name="url" value="http://dl.dropbox.com/u/55228056/bmicalculator.html"/>
                <classes>
                        <class name="com.kriyari.selenium.testing.SeGridTest"></class>
                </classes>
        </test>-->

<test name="testFF">
           <parameter name="platform" value="Windows" />
                <parameter name="browser" value="Firefox" />
                <parameter name="url" value="http://www.megafileupload.com"/>
                <classes>
                        <class name="com.kriyari.selenium.testing.FileUpload"></class>
                </classes>
        </test>
</suite>
